h1{
    color:#440e62;
}

.button1{
    display: inline-block;
    height: 80px;
    width: 150px;
}

.button1:hover{
    background: url("images/nav_home_act.gif") no-repeat;
}

.button2{
    display: inline-block;
    height: 80px;
    width: 150px;
}

.button2:hover{
    background: url("imagels/nav_about_act.gif)") no-repeat;
}

.button3{
    display: inline-block;
    height: 80px;
    width: 150px;
}

.button3:hover{
    background: url("imagels/nav_contact_act.gif)") no-repeat;
}

.button4{
    display: inline-block;
    height: 80px;
    width: 150px;
}

.button4:hover{
    background: url("imagels/nav_gallery_act.gif)") no-repeat;
}

.button5{
    display: inline-block;
    height: 80px;
    width: 150px;
}

.button5:hover{
    background: url("imagels/nav_links_act.gif)") no-repeat;
}

.button6{
    display: inline-block;
    height: 80px;
    width: 150px;
}

.button6:hover{
    background: url("imagels/nav_ordering_act.gif") no-repeat;
}

